body{
    background-color:#1D4221 ;
    color: white;
    font-family:font-family:"Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    margin:0;
}

button{
    background-color: #64A712;
    color: white;
    font-family: font-family: "Nunito", sans-serif;
}
      .passo{
        display: none;
      }

      .passo.ativo{
        display: block;
      }

      main{
        text-align: center;
        max: widht 80%;
      }


image {
    max-width: 80%;
}